body.node--type-event .node__content .field {
    display: flex;
    margin-bottom: 0.5em;
}

body.node--type-event .node__content .field .field__item {
    word-break: break-word;
}

body.node--type-event .node__content .field .field__label {
    font-weight: 900;
}

body.node--type-event .node__content .field .field__label::after {
    content: ':';
}

@media screen and (min-width: 768px) {
    body.node--type-event .node__content .field .field__item {
       flex-basis: 85%;
    }
    
    body.node--type-event .node__content .field .field__label {
        flex-basis: 15%;
    }    
}
@media screen and (max-width: 767px) {
    body.node--type-event .node__content .field {
        gap: 0.5em;
    }
}